@{
    ViewBag.Title = "Forbidden";
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<body style="background-image: url('https://images.unsplash.com/photo-1551948525-4201c01c03ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGZvcmJpZGRlbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1800&q=60'); background-size: cover; background-repeat: no-repeat; ">
    <h3 class="card-title" style="font-weight: bold; color: white; margin-top: 10px; margin-left: 15px">Filtro Seguridad</h3>
    <div class="card" style="width: 40rem; margin-left: 0px; margin-top:180px; background-color: rgba(0, 0, 0, 0.5); color: white">
        <div class="card-body">
            <h1 class="card-title" style="font-weight: bold; font-size: 100px">403</h1>
            <h1 class="card-title" style="font-weight: bold">Acceso Denegado</h1>
            <h4 class="card-title" style="font-weight: bold; font-size: 18px">No tienes los permisos para acceder al siguiente sitio.</h4>
        </div>
    </div>
</body>
